body {
  background-image: url(Leonardo_Diffusion_XL_universo_3.jpg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh;
}

.form-control-dark {
  border-color: var(--bs-red);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .50rem rgba(175, 2, 2, 0.25);
}

.text-small {
  font-size: 90%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

.nav-class {
  text-decoration-color: darksalmon;
}

.link-body-emphasis {
  color: #c75d20; 
}

.nav-link {
  color: #000000;
}

.nav-link.active {
  color: #BF472C;
}

.nav-link.active {
  background-color: #BF472C;
}

.nav-link.home {
  color: black;
}

.nav-link.home.active {
  background-color: black;
}
.fs-4 {
  color: black;
}

header {
  background-color: #D9A87E;
}

